<!DOCTYPE html>
<% include ../partials/header %>
<html lang="en">

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% title %> </title>
</head>

<body id="feedbackground">
    <h1 id="feedpage">Feed Page</h1>
    <hr>
    <% posts.forEach(function(r) { %>
    <div class="each-post" id="each-post">
        <div class="user-info">
            <div id="name-container">
                <!-- <a href="/profile" class="user-name"><#%= r.name %></a> -->
            </div>
        </div>
            <div class="post-container">
                <h4 id="feed-product"><%= r.product %></h4>
                <p id="feed-barcode">barcode: <%= r.barcode %></p>
                <p id="feed-url">YouTube Link: <%= r.url %></p>
                <p id="feed-description">Description: <%= r.description %></p>
            </div>

        <% if (user) { %>
        <h5>Posted by <%= user.name %> </h5>
        <% if (String(user._id) === String(r.owner)) { %>

        <div id="user-access">
            <div class="content">
                <form id="edit-post-form" method="POST" action="/posts/<%= r._id %>?_method=POST">
                    <label>Edit Product:
                        <input type="text" name="product" placeholder="<%= r.product %>">
                    </label><br>

                    <label>Edit Brand:
                        <input type="text" name="brand" placeholder="<%= r.brand %>">
                    </label><br>

                    <label>Edit Barcode:
                        <input type="text" name="barcode" placeholder="<%= r.barcode %>">
                    </label><br>

                    <label>Edit YouTube Link:
                        <input type="text" name="url" placeholder="<%= r.url %>">
                    </label><br>

                    <label>Edit Description:
                        <input type="text" name="description" placeholder="<%= r.description %>">
                    </label><br>
                    <input type="submit" id="submitbtn " value="Submit Changes">
                </form>
            </div>
            
                <!-- ____________________________ -->
            
                
                <br><br>
                <div id="delete-report">
                    <form action="/posts/<%= r._id %>?_method=DELETE" class="delete-form" method="POST">
                        <button type="submit" class="delete">DELETE POST</button>
                    </form>
                </div>
            
        </div>
        <% } else { %>
        <% } %>
        <% } else { %>
        <% } %>
<hr>
        <div class="feed-comments">
            <div class="content">
                <% if (r.comments.length) { %>

                <% r.comments.forEach(function(c) { %>

                <% }); %>

                <% } else { %>
                <% } %>
            </div>
        </div>
    </div>
    <% }); %>
</body>

</html>